<row class="fallback">
  <columns small="12" large="12">
    <center><small>Si tienes problemas para ver este correo, <a href="#">da clic aquí</a></small></center>
  </columns>
</row>
<container>
	<row class="collapse branding">
		<columns class="logo" small="12" large="4">
		<a href="http://www.agrorural.gob.pe" target="_blank"><img src="{{root}}assets/img/logo--xs.png" width="95" height="35" alt="" /></a>
		</columns>
		<columns class="date" small="12" large="8">
		<p class="text-right">16 de mayo, 2016</p>
		</columns>
	</row>
</container>